  body{
    background-color:white;
  }

   
h1{
    position: relative;
    color: black;
    margin-left: 3%;
  }
h4{
  color: white;
}
h5{
  color: rgb(55, 194, 20);
}

      
      
.flex{
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 75%;
        background-color:white;
        margin:auto;
        color: black;
        margin-top: 30px;
        border: 2px solid #ddd;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

       
      } 
      .flex-head{
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 75%;
        background-color:white;
        margin:auto;
        color: white;
        margin-top: 30px;

       
      }

       .flex-body{
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 75%;
        background-color: white;
        margin:auto; 
  
      }
   .flex-anchor{
        display:flex;
        flex-flow: row-reverse wrap;
        justify-content: right;
        align-items: center;
        width: 100%;
        height:50px;
        background-color:rgb(19, 19, 34);
        border: 2px solid #ddd;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      }   

  .nav{
    position: absolute;
    box-sizing: content-box;
    color: white;
    padding: 5px 5px;
    border-radius: 10%;
    right:  3%;
    top: 5%;
    margin:1% 2% 2% 70%; 
  }
 
  .grid-layout {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-row-gap:30px;
  } 

  
 h2{
   text-align: center;
 }

 h3{
   text-align: center;
 }
  .date1{
   color: black;
  margin: 15px;
 } 
  .date2{
  color: black;
  float: left;
  margin: 15px;

} 

 p{
   color: black;
   margin: 4%;
 }
 img{
   width: 40%;
 }

 @media screen and (max-width:1000px){
  .grid-layout {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap:30px;
  } 

  .flex{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 95%;
    background-color:white;
    margin:auto;
    color: black;
    margin-top: 30px;
    border: 2px solid #ddd;

   
  } 
} 

  
      